{% extends "base.html" %}

{% block content %}

    <div class="main_content">
      <div class="welcome">
        <button id="openbutton" class="openbtn" >&#9776;</button>
        <span class="welcome-text">Welcome <span class="user">{{current_user.username }}</span> <span class="exclamation-mark">!</span> <i class="fa fa-smile-o" aria-hidden="true"></i></span> 
      </div>

      <div class="task-card">
        <p class="heading">My Specs List</p> 
        <div>
          <!-- tab-content -->
          <div>
            <section id="tab-item-1">
              <ul class="taskList">        
                <li class="currentTaskItem">
                  <span  id=TaskDone class="complete- taskDone">
                    Name/Author
                  </span>
                  <span class="categoryy-other taskDone" >
                    Edit
                  </span>
                  <span class="categoryy-other taskDone" >
                    Steps
                  </span>
                  <span class="categoryy-other taskDone">
                    Delete
                  </span>
                </li>
              </ul> <!--end All-Tasks-List -->
              <ul class="taskList">        
                {% for spec in specs %} 
                <li class="currentTaskItem">
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                  <span  id=TaskDone class="complete- taskDone">{{ spec.name }} {{ spec.user }}</span>
                  <span class="categoryy-{{ spec.category }} taskDone" >
                    <a href="{{ url_for('spec_bp.update_spec', spid=spec.id) }}"><i class="fa fa-pencil icon" aria-hidden="true"></i></a>
                  </span>
                  <span class="categoryy-{{ spec.category }} taskDone" >
                    <a href="{{ url_for('step_bp.add_step', spid=spec.id) }}"><i class="fa-solid fa-pencil"></i></a>
                  </span>
                  <span class="categoryy-{{ spec.category }} taskDone">
                    <a href="{{ url_for('spec_bp.delete_spec', spid=spec.id) }}" ><i class="fa fa-trash-o icon" aria-hidden="true"></i></a>
                  </span>
                </li>
                {% endfor %}
              </ul> <!--end All-Tasks-List -->
            </section>

            {% if not specs.count() %}
            <div class="No-task">
              <h2>No spec yet</h2>
            </div>
            <div class="Addtask">
              <a href="{{url_for('spec_bp.create-spec')}}" class="btn btn-primary"> <i class="fa fa-plus icon"></i>  <span class="Add">Add Specs</span> </a>
            </div> <!--end Addtask -->  
            {% endif %}

          </div>
        </div>
      </div>  
    </div>
        
{% endblock content %} 
