#db sql
recipe/db.sqlite
*.db

# Python
*.py[cod]
*.$py.class

# VS Code
*.vscode
**/.vscode/

# virtual environment
.env/
env/
/.env

# Flask
*.log
/logs
*.pot
*.pyc
*__pycache__
recipe/__pycache__
# *media
*.DS_Store

# Backup Files
*.bak

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


