{% extends "base.html" %}

<!-- {% block title %}
 Main
{% endblock title %} -->

{% block content %}

<div class="Home">

  <a class="brand-logo" href="{{ url_for('index') }}">
  <img class="logo" src="{{ url_for('static', filename='Logo.svg') }}">
  <img class="logo" src="{{ url_for('static', filename='favico.ico') }}">
  </a>

  <div class="call-to-action">
    <h1 class="title">
      <div class="brand-logo-name"><strong>CyWriter</strong></div>
      <i class="fa fa-clock-o" aria-hidden="true"></i></h1>
      <h3 class="subtitle">makes it easy to create and organize cypress specs </h3>
      <a href="{{ url_for('auth_bp.login') }}" class="btn">Let’s get started</a>
  </div>
</div>
{% endblock content %}
