{% extends "base.html" %}

{% block content %}

<div django-app="TaskManager" class="task_content categories" >    
    <div class="">
            <div class="content">
                    <div class="welcome">
                        <button id="openbutton" class="openbtn" >&#9776;</button>
                        <span class="welcome-text">Manage Your Spec List</span> 
                    </div>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="inputContainer Task">
            {{ form.name.label }}<br>
            {{ form.name(size=20) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="buttons">   
            {{ form.submit(class="taskAdd btn") }}
        </div> 
    </form>

      <!-- Task Delete Error alert -->
      {% if check %}
      <div class="alert alert-warning" role="alert">
          <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>
          {{check}}
      </div>
      {% endif %}
      <!-- End Task Delete error alert -->

      <form action="" method="post">
        {{ form.hidden_tag() }} <!-- csrf token for security -->

        <div class="tabs effect-1">
        <!-- tab-content -->
        <div class="tab-content">
            <section id="tab-item-1">
                <ul class="taskList">        
                    {% for category in category %} 
                    <li class="currentTaskItem">
                        <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ category.id }}" value="{{ category.id }}" >
                        <label for="{{ category.id }}"><span class="complete-">{{ category.name }}</span></label>
                        <button class="taskDelete " name="categoryDelete" formnovalidate="" type="submit" ><i class="fa fa-trash-o icon"></i></button>
                    </li>     
                    {% endfor %}
                </ul> <!--end All-categoriess-List -->
            </section>
          </div><!-- end tab content -->

         </div><!-- end tab effect -->
        </form>
    
        </div><!-- end content -->

    </div><!-- container -->
    <div class="done">
    <a href="{{url_for('home.homepage')}}" class="btn btn-primary mt-3"> <i class="fa fa-home"></i>Back to Home </a>
    </div>
</div>
{% endblock %}
