{% extends "base.html" %}

{% block content %}

<div django-app="TaskManager" class="task_content categories">
  <div class="">
    <div class="content">
      <div class="welcome">
        <button id="openbutton" class="openbtn" >&#9776;</button>
        <span class="welcome-text">Steps of {% if spec.id %} {{ spec.name }} {% endif %}</span> 
      </div>

      <div>
        <!-- tab-content -->
        <div>
          <section>
            <ul class="taskList">        
              {% for step in steps %} 
              <li class="currentTaskItem">
                <label for="{{ step.id }}"><span class="complete-">{{ step.name }}</span></label>
                <span class="taskDelete"><a href="{{ url_for('step_bp.edit_step', step_id=step.id) }}"><i class="fa fa-pencil icon"></i></a></span>
                <span class="taskDelete"><a href="{{ url_for('step_bp.delete_step', step_id=step.id) }}"><i class="fa fa-trash-o icon"></i></a></span>
              </li>     
              {% endfor %}
            </ul> <!--end All-its-List -->
          </section>
        </div><!-- end tab content -->
      </div><!-- end tab effect -->

    </div><!-- end content -->
  </div><!-- container -->
</div>

{% endblock %}
